.Weather .temperature {
    font-size: 60px;
}

.Weather .icon {
    width: 200px;
    position: relative;
    bottom: 34px;
}

.Weather .city {
    font-size: 36px;
    text-align: left;
    opacity: 0.7;
}

.Weather .temperature {
    font-size: 74px;
    text-align: left;
    font-weight: bold;
}

.Weather .unit {
    font-size: 20px;
    position: relative;
    bottom: 36px;
}

.Weather .description {
    text-transform: capitalize;
    font-weight: 200;
    opacity: 0.7;
    text-align: left;
    margin-top: 1px;
    font-size: 22px;
}

.Weather .weatherData {
    font-size: 16px;
    list-style-type: none;
    opacity: 0.7;
    margin: auto;
    padding: 0;
    text-align: right;
    position: relative;
    top: 30px;
}

.Weather .tempMin {
    opacity: 0.6;
}

.Weather .card {
    border: none;
}

.Weather .forecastCard ul {
    border: solid 1px red;
    border-radius: 4px;
   text-align: center;
   
}

.Weather .forecastCard {
position: relative;
    bottom: 50px;
}