.Weather .icon {
    width: 200px;
    position: relative;
    bottom: 34px;
}

.Weather .city {
    font-size: 36px;
    text-align: left;
    opacity: 0.7;
}

.Weather .description {
    text-transform: capitalize;
    font-weight: 200;
    opacity: 0.7;
    text-align: left;
    margin-top: 1px;
    font-size: 22px;
}

.Weather .WeatherData, .forecastData {
    font-size: 16px;
    list-style-type: none;
    opacity: 0.8;
    margin: auto;
    padding: 0;
    text-align: right; 
}



.Weather .weatherStats {
    list-style-type: none;
    opacity: 0.7;
}

.Weather .tempMin {
    opacity: 0.6;
}

.Weather .card {
    border: none;
}

.Weather .forecast-card {
    border: 1px solid red;
}

.Weather .formattedDate {
    text-align: left;
    opacity: 0.6;
}
/*
.Weather .weatherIcon {
    position: relative;
    top: 190px;
    opacity: 0.7;
} */

.Weather .searchInput {
    opacity: 0.6;
}